body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imagens/bg-repeat.jpg);
    background-size: contain;
}

.formulario .textos {
    width: 300px;
    min-height: 115px;
    color: #FFFFFF;
    margin-right: 200px;
    margin-left: 50px;
}

.formulario .textos .titulo {
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 11px;
}

.formulario .textos .texto {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 18px;
}

.formulario .dados {
    width: 340px;
    min-height: 380px;
    padding: 20px;
    background-color: #FFFFFF;
}

.dados .input{
    font-weight: 700;
    font-size: 1.5rem;
    width: 298px;
    height: 35px;
    /* margin-bottom: 15px; */
    padding-left: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    opacity: 0.6;
}

.dados .mensagem {
    height: 100px;
    padding-top: 8px;
    resize: none;
    font-family: "Roboto", sans-serif;
}

.dados .campos-obrigatorios{
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.dados .btn-enviar {
    width: 298px;
    height: 41px;
    background-color: #3CCC87;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.dados .texto-obrigatorio{
    font-weight: 400;
    font-size: 0.8rem;
    color: #F52E2E;
    margin-bottom: 15px;
}

.dados .opacidade{
    opacity: 0;
}

.dados .nao-preenchido {
    border: 1px solid #F52E2E;
}

.dados .preenchido{
    border: 1px solid #00C22B;
}



